<table width="100%" align="center" id="example" cellspacing="0" class="display">  
    <thead>
        <tr> 
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: center; width: 70px;">Sl.no</th>                                     
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Group Name</th> 
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Description</th>                                 
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="width:150px;">Action</th>
        </tr>
    </thead>
    <tbody>  
        {%set slno=1%}
        {%for group in groupArr%}
            <tr>
                <td class="tbl-grid-view-row-no-bg" width="70px">{{slno}}</td>
                <td class="tbl-grid-view-row-no-bg" style="text-align: justify;">{{group.groupName}}</td>
                <td class="tbl-grid-view-row-no-bg" align="left">{{group.groupDesc}}</td>                                                                                
                <td class="tbl-grid-view-row-no-bg" width="150px">
                    <select id="selGroupAction{{group.pkid}}">
                        <option value="">--select--</option>
                        <option value="{{path("_gotoeditgroup",{'groupid':group.pkid})}}&edt">Edit</option>
                        <option value="{{path("_deletegroup",{'groupid':group.pkid})}}&del">Delete</option>
                    </select>
                    <input type="button" class="button" value="Go" onclick="groupAction('selGroupAction{{group.pkid}}');">
                </td>
            </tr>
            {%set slno=slno+1%}
        {%endfor%}
    </tbody>
</table>