<table  width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
        <tr>
            <td class="td-label-title">Account Head Details:</td>
        </tr>
        <tr>
            <td>                    
                <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                    <thead>
                        <tr>
                            <th class="tbl-th-grid-view-row-no-bg">Sl.No.</th>
                            <th class="tbl-th-grid-view-row-no-bg">Account Head Name</th>
                            <th class="tbl-th-grid-view-row-no-bg">Acount Type</th>                                        
                            <th class="tbl-th-grid-view-row-no-bg">Descriptin</th>                                        
                            <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                        </tr>
                    </thead>

                    <tbody>                           
                    {%for a in allAccountHead|default('')%} 
                            <tr>
                                <td class="tbl-grid-view-row-no-bg" align="center">{{ loop.index }}</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">{{ a.headName|default('') }}</td>                                           
                                <td class="tbl-grid-view-row-no-bg" align="center">{{ a.accountTypeFk.typeName|default('') }}</td>   
                                <td class="tbl-grid-view-row-no-bg" align="center" style="text-align: justify; width: 350px;"> {{ a.description|default('') }}</td>                                          
                                <td class="tbl-grid-view-row-no-bg" align="center">
                                    {%if a.isReserve|default('') == 1%}
                                            NA
                                    {%else%}
                                        <select class="normal_select" id="accHeadAction{{a.pkid|default('')}}" name="txt_accHeadAction" >
                                            <option value="">Select</option>                                
                                            <option value="{{path('_retrive_account_head_record',{'pkid': a.pkid|default('')})}}&upd">Edit</option>
                                            <option value="{{path('_delete_account_head_record',{'pkid': a.pkid|default('')})}}&del">Delete</option>
                                        </select> 
                                        <input class="button" name="commit" type="button" value="Go" onClick="accountHeadAction(this,'{{a.pkid|default('')}}','#accHeadAction');" />                                                  
                                    {%endif%}
                                </td>                                                 
                            </tr>                    
                    {%endfor%}
                        </tbody>
                    </table>
                </td>
            </tr>                                 
    </table>