<table id="deductionsFormTbl" width="100%" align="center" cellpadding="0" cellspacing="0" style="border-left: 1px solid #ccc;">  
    <tr>
       <td class="td-gray-bg" style="font-size: 13px; font-weight: bold; border-bottom: 1px dotted rgb(240, 240, 240); background: rgb(242, 247, 202);">Contra Transaction</td>                                                         
   </tr>

   <tr>  
       <td class="td-white-bg" style="border-top: 1px dotted #ccc;">
            <table width="100%" align="center" border="0" cellpadding="0" id="example3" cellspacing="0"  class="display"  >  
           <thead>
               <tr>
                   <th class="tbl-th-grid-view-row-no-bg">Sl.No.</th>
                   <th class="tbl-th-grid-view-row-no-bg">Receipt No</th>
                   <th class="tbl-th-grid-view-row-no-bg">Transaction Details</th>                                
                   <th class="tbl-th-grid-view-row-no-bg">Amount</th> 
                   <th class="tbl-th-grid-view-row-no-bg">Entry Date</th> 
                   <th class="tbl-th-grid-view-row-no-bg">Descriptin</th>                                        
                   <th class="tbl-th-grid-view-row-no-bg">Entry By</th>
           {#      <th class="tbl-th-grid-view-row-no-bg">Action</th>     #}                                              
               </tr>
           </thead>

           <tbody>   
          
           {%for a in allContraTansaction|default('')%} {#from account entry#}
                   <tr>
                       <td class="tbl-grid-view-row-no-bg" align="center">{{ loop.index }}</td>
                       <td class="tbl-grid-view-row-no-bg" align="center">{{ a.prcFormat|default('') }}</td>
                       <td class="tbl-grid-view-row-no-bg" align="center">     
                           {%set loopBreak = false%}   
                            {%for c in allContraTansactionDetails|default('') if not loopBreak%} 
                                {%if a.prcFormat|default('') == c.receiptNo|default('')%}                                                                                                      
                               <div style="float: left;"><b>Withdrawal From:</b>
                                    {%if cashAccountDetails.pkid|default('') == c.accountFrom|default('')%}{#check cash account#}
                                            Cash Account                                     
                                    {%else%}{#check bank account #}
                                        {%set loopBreak2 = false%}   
                                        {%for b in allCompanyBankDetails if not loopBreak2%}
                                                {%if b.bankFk.bankPk|default('')==  c.accountFrom|default('') %}
                                                       {{ b.bankFk.bankName|default('') }}({{ b.bankFk.accountNumber|default('') }})
                                                       {%set loopBreak2 = true%}   
                                                {%endif%}
                                        {%endfor%}                                      
                                    {%endif%}  
                                    </div> 
                                    <br/>
                                    <div style="float: left;">
                                   <b>Deposit To: </b>                                   
                                    {%if cashAccountDetails.pkid|default('') == c.accountTo|default('')%}{#check cash account#}
                                        Cash Account                                       
                                    {%else%}{#check bank account#}
                                        {%set loopBreak3 = false%}   
                                        {%for b in allCompanyBankDetails if not loopBreak3%}
                                                {%if b.bankFk.bankPk|default('')==  c.accountTo|default('') %}
                                                       {{ b.bankFk.bankName|default('') }}({{ b.bankFk.accountNumber|default('') }})
                                                       {%set loopBreak3 = true%}   
                                                {%endif%}
                                        {%endfor%}                                       
                                    {%endif%}
                                   </div>
                                   {#deposit or withdrawal person#}
                                    <br/>
                                    <div style="float: left;">
                                        <b>By: </b>  
                                         {{c.doneBy|default('')}} 
                                    </div>
                                  {%set loopBreak = true%}
                                {%endif%}
                               
                            {%endfor%} 
                       </td>                                                                                 
                       <td class="tbl-grid-view-row-no-bg">{{ a.amount|default('') }}</td>   
                       <td class="tbl-grid-view-row-no-bg" align="center">{{ a.date|default('')|date('d-m-Y') }}</td> 
                       <td class="tbl-grid-view-row-no-bg" align="center" style="text-align: justify; width: 230px;"> {{ a.description|default('') }}</td> 
                       <td class="tbl-grid-view-row-no-bg" align="center">{{ a.applicationUser.personFk.personName|default('')|upper }}</td>
               {#      <td class="tbl-grid-view-row-no-bg" align="center">
                           <select class="normal_select" id="accountEntryAction{{a.pkid|default('')}}" name="txt_accountEntryAction" >
                               <option value="">Select</option>                                
                               <option value="{{path('_retrive_account_entry_record',{'pkid': a.pkid|default('')})}}&upd">Edit</option>
                               <option value="{{path('_delete_account_entry_record',{'pkid': a.pkid|default('')})}}&del">Delete</option>
                           </select> 
                           <input class="button" name="commit" type="button" value="Go" onClick="accountEntryAction(this,'{{a.pkid|default('')}}','#accountEntryAction');" />                                
                       </td>   #}                                                  
                   </tr>                  
           {%endfor%}
               </tbody>
           </table>
       </td>                            
   </tr> 
</table> 