<script type="text/javascript" src="{{ asset('bundles/common/js/Navigation/script.js') }}"></script>
<div class='sub-menu'>
    <ul>
        <li class='active'><a href="javascript:void();" onclick="fnLeftMenuNavigation('{{path('_revenue_report')}}', 'revenue_report', 'Customer', 'Revenue Report');"><span>View Account Report</span></a></li>            
    </ul>
</div>
<div class="newdashboard">
    <div class="application-form"> 
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
            <tr>
                <input id="spanCloseOpenHandlerSearchCustomer" value="0" type="hidden">
                <td class="td-label-title" onclick="lmsShowHideAddressResult('SearchCustomer');"> Search Account Report<span style="float: right;" id="spanIdSearchCustomer" class="span_open" >&nbsp;</span></td>
            </tr >
            <tr id="trAddressSearchCustomer" >
                <td>
                    <form id="searchAccountEntryForm">
                        <table width="100%" align=center border="0" cellpadding="0" cellspacing="0"> 
                            <tr>
                                <td class="td-gray-bg">Search By</td>
                                <td class="td-white-bg" colspan="3">
                                    <select class="cmnWidth" id="search_by" name="txt_search_by" onchange="searchOptionField(this);">                                                                                                                                             
                                        <option value="period">Period</option> 
                                        <option value="month&year">Month & Year</option>  
                                    </select>
                                </td>                                
                            </tr> 
                            <tr id="monthAndYear" style="display: none;">
                                <td class="td-gray-bg">Month</td>
                                <td class="td-white-bg">
                                    <select class="cmnWidth" id="month" name="txt_month">
                                        <option value="">--select--</option>
                                      {%for m in month|default('')%}                                                                                  
                                                <option value="{{ m.pkid|default('')}}">{{m.monthName|default('')}}</option>                                                                               
                                      {%endfor%}
                                    </select>
                                </td>  
                                <td class="td-gray-bg">Year</td>
                                <td class="td-white-bg">
                                    <input class="cmnWidth" type="text" id="year" name="txt_year" value="{{ 'now'|date('Y')}}" onKeypress="return validationDigit('#year');"/> 
                                </td>  
                            </tr> 
                            <tr id="option"> 
                                <td class="td-gray-bg">Start Date</td>
                                <td class="td-white-bg">
                                    <input type="date" id="startDate" name="txt_startDate" class="cmnWidth" /></td>  
                                <td class="td-gray-bg">End Date</td>
                                <td class="td-white-bg"><input type="date" id="endDate" name="txt_endDate" class="cmnWidth" /></td>                              
                            </tr> 
                            <tr>
                                <td colspan="4" class="td-separator" align="center">                            
                                    <input class="button" type="button" name="butSearch" id="butSearch" value="Search" onClick="searchAccountEntry(this, '{{path('_search_account_entry')}}');">                                                                  
                                </td>
                            </tr>
                        </table>

                    </form>
                </td>
            </tr>
        </table>                                                                   
        <div id="searchResult" style="margin-top: 10px;"></div>             
    </div>
</div>