<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" style="margin: 0 auto;">            
                <tr>
                    <td class="td-label-title">Cash Account Details: </td>
                </tr>
                <tr>
                    <td>                    
                        <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display">  
                            <thead class="">
                                <tr>
                                    <th class="tbl-th-grid-view-row-no-bg">Sl No.</th>
                                    <th class="tbl-th-grid-view-row-no-bg">Account Balance</th> 
                                    <th class="tbl-th-grid-view-row-no-bg">Creation Date</th>
                                    <th class="tbl-th-grid-view-row-no-bg">Action</th> 
                                </tr>
                            </thead>
                            <tbody>                           

                          {%for c in cashAccount|default('') %}
                                <tr>                                   
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{ loop.index }}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{ c.currentAmount |default('') }} </td>                                  
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{c.createdDate |default('') | date('d-m-Y')  }} </td>
                                    <td class="tbl-grid-view-row-no-bg" align="center"> 
                                    <select class="normal_select" id="cashAccount{{c.pkid | default('')}}" name="txt_cashAccount" >
                                            <option value="{{path('_retrive_bank_account_record',{'pkid':c.pkid | default('')})}}&upd">Edit</option>
                                            <option value="{{path('_delete_bank_account_record',{'pkid': c.pkid | default('')})}}&del">Delete</option>
                                        </select> 
                                        <input class="button" name="commit" type="button" value="Go" onClick="bankAccountAction(this,'{{b.bankFk.bankPk|default('')}}','#bankAccountAction');" />

                                    
                                    </td>                                                 
                                </tr>                    
                          {%endfor%}

                            </tbody>
                        </table>
                    </td>
                </tr>                                 
            </table>