<div class='sub-menu'>
    <ul>      
        <li id="addactivity_li" class="active"><a href="javascript:void();" onclick="fnLeftMenuNavigation('{{path('_addactivity')}}', 'manage_module_li', 'Setting','Manage Activities', 'Add Activity', '');">Manage Activities</a></li>                 
    </ul>
</div>
<div class="newdashboard">  
    <div class="application-form"> 
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
            <tr>
                <td class="td-label-title">Activity Detail</td>
            </tr>
            <tr>
                <td>
                    <form id="FormActivity">
                        <div id="divActivityDetail">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="td-gray-bg" width="150px">Select Module<span class="mandatoryField">*</span></td>
                                    <td class="td-white-bg">
                                        <select id="selModule" name="selModule" onchange="loadActivity(this.value,'INS');">
                                            <option value="{{path("_loadactivity",{'moduleid':'0'})}}">--select--</option>
                                            {%for module in moduleArr%}
                                                <option value="{{path("_loadactivity",{'moduleid':module.pkid})}}&{{module.pkid}}">{{module.moduleName|upper}}</option>
                                            {%endfor%}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-gray-bg" width="150px">Activity Name<span class="mandatoryField">*</span></td>
                                    <td class="td-white-bg">
                                        <input type="text" id="txtActivityName" name="txtActivityName" class="cmnWidth" >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-gray-bg" width="150px">Description</td>
                                    <td class="td-white-bg">
                                        <textarea id="txtdesc" name="txtdesc" cols="50" rows="5"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-gray-bg" width="150px">Function Name<span class="mandatoryField">*</span></td>
                                    <td class="td-white-bg">
                                        <input type="text" id="txtFunctionName" name="txtFunctionName" class="cmnWidth" >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-gray-bg" width="150px">Controller Path<span class="mandatoryField">*</span></td>
                                    <td class="td-white-bg">
                                        <input type="text" id="txtPath" name="txtPath" class="cmnWidth" >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-gray-bg"></td>
                                    <td class="td-white-bg">
                                        <input type="button" class="button" value="Submit" onclick="ManageActivities('{{path("_insertactivity")}}','');">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <br/>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">
            <tr>
                <td class="td-label-title">Existing Module List</td>
            </tr>
            <tr>
                <td>
                    <div id="divActivityList">
                        <table width="100%" align="center" id="example" cellspacing="0" class="display">  
                            <thead>
                                <tr> 
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: center; width: 70px;">Sl.no</th> 
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Module</th>
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Activity Name</th> 
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Description</th>
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Function Name</th>
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Controller Path</th>                                    
                                    <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="width:150px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>  
                                {%set slno=1%}
                                {%for activity in activityArr%}
                                    <tr>
                                        <td class="tbl-grid-view-row-no-bg" width="70px">{{slno}}</td>
                                        <td class="tbl-grid-view-row-no-bg" style="text-align: justify;">{{activity.moduleFk.moduleName|default('')}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="left">{{activity.activityName}}</td>
                                        <td class="tbl-grid-view-row-no-bg" style="text-align: justify;">{{activity.description|raw}}</td>
                                        <td class="tbl-grid-view-row-no-bg" style="text-align: justify;">{{activity.functionName}}</td>
                                        <td class="tbl-grid-view-row-no-bg" style="text-align: justify;">{{activity.controllerPath}}</td>                                        
                                        <td class="tbl-grid-view-row-no-bg" width="150px">
                                            <select id="selAcitivityAction{{activity.pkid}}">
                                                <option value="">--select--</option>
                                                <option value="{{path("_gotoeditactivity",{'activityid':activity.pkid})}}&edt">Edit</option>
                                                <option value="{{path("_deleteactivity",{'activityid':activity.pkid})}}&del">Delete</option>
                                            </select>
                                            <input type="button" class="button" value="Go" onclick="activityAction('selAcitivityAction{{activity.pkid}}');">
                                        </td>
                                    </tr>
                                    {%set slno=slno+1%}
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
