<script type="text/javascript" src="{{ asset('bundles/common/js/Navigation/script.js') }}"></script>
<div class='sub-menu'>
    <ul>
        <li class='active'><a href='#' href="javascript:void();" onclick="fnLeftMenuNavigation('{{path('_requisition_master_setting')}}',  'requisition_master_setting', 'Requisition','Master Setting');"><span>Stock Return Purpose</span></a></li>
        {#<li id="emp_worker_expert"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_emp_worker_expert')}}', 'emp_worker_expert', 'Employee Master', 'Master Setting', 'Worker Expert');"><span>Worker Expertise</span></a></li>
        <li id="wage_type"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_emp_working_salary_type')}}', 'wage_type', 'Employee Master', 'Master Setting', 'Wage Type');"><span>Wages Type</span></a></li>     
        <li id="emp_department"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_emp_employee_department')}}', 'emp_department', 'Employee Master', 'Master Setting', 'Department');"><span>Department</span></a></li>
        <li id="branch_office"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_branch_office')}}', 'branch_office', 'Employee Master', 'Master Setting', 'Branch Office');"><span>Branch Office</span></a></li>
        <li id="nationality_master"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_emp_nationality')}}', 'nationality_master', 'Employee Master', 'Master Setting', 'Nationality Master');"><span>Nationality Master</span></a></li>
        <li id="religion_master"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_emp_religion')}}', 'religion_master', 'Employee Master', 'Master Setting', 'Religion Master');"><span>Religion Master</span></a></li>#}
    </ul>
</div>
<div class="newdashboard">
    <div class="application-form"> 
        <table width="100%" cellspacing="0" cellspadding="0" class="tbl-border">         
            <tr>
                <td class="td-label-title" colspan="2">Manage Stock Return Purpose</td>
            </tr>
            <tr>
                <td> <form id="frmRequiTrans" style="margin: 0px;">
                        <table width="100%" cellspacing="0" cellspadding="0">                       
                            <tr>
                                <td class="td-gray-bg">Purpose<span class="necessary-field">*</span></td>
                                <td class="td-white-bg">
                                    <input type="hidden" id="transportorId" name="transportorId"/>
                                    <input type="text" class="cmnWidth" id="transportor_name" name="transportor_name" onkeypress="return NullonEnterKey(event);">
                                </td>
                            </tr>
                            <tr>
                                <td class="td-gray-bg">Description<span class="necessary-field">*</span></td>
                                <td class="td-white-bg">
                                    <textarea cols="70" rows="4" id="transportor_des" name="transportor_des"></textarea> 
                                </td>
                            </tr>
                            <tr>
                                <td class="td-separator" colspan="4" style="text-align: center;">
                                    <input type="button" class="button blue" id="btn_save" value="Save" onclick="return addUpdateTransportMaster('{{ path('_add_update_emp_requisition_transport')}}', this);"/>
                                    <!--input type="button" class="button blue" id="btn_update" value="Update" onclick="return addUpdateJobTitleMaster('{{ path('_add_update_emp_job_title')}}', this);" style="display: none;"/-->
                                    <input type="button" class="button blue" id="btn_cancel" value="Cancel" onclick="onCancleClick('frmEmpJobTitle');" style="display: none;"/>
                                    <input type="button" class="button blue" id="btn_clear" value="Reset" onclick="formReset();"/>  
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
        <div id="display-list" class="stylecommonborder" style="margin-top: 10px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
                    <tr>
                        <td class="td-label-title">Purpose List:</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                                <thead>
                                    <tr> 
                                        <th class="tbl-th-grid-view-row-no-bg">Purpose Name</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Description</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Action</th>                                               
                                    </tr>
                                </thead>
                                <tbody>
                             {% for jt in allRecord%}
                                        <tr>
                                            <td class="tbl-grid-view-row-no-bg" align="center">{{jt.purposeName | default('')}}</td>
                                            <td class="tbl-grid-view-row-no-bg" align="center">{{jt.description | default('')}}</td>
                                            <td class="tbl-grid-view-row-no-bg" align="center">
                                                <a href="javascript:void();" onclick="retrieveRequisitionTransport('{{ path('_retrieve_transport',{ 'transportorId': jt.pkid | default('')})}}');">Edit</a> |
                                                <a href="javascript:void();" onclick="deleteTransportModule('{{ path('_delete_transportor',{ 'transportorId': jt.pkid | default('')})}}','Purpose', 'frmRequiTrans');">Delete</a>
                                            </td>                                                 
                                        </tr>
                                  {%endfor%}
                                    </tbody>
                                </table>
                            </td>
                        </tr>                                 
                    </table>
                </div>   
            </div>
        </div>