<html>
    <head>
        <title>Tashi Interiors|Activate Account</title>
        <script type="text/javascript" src="{{ asset('bundles/common/js/jquery_v.1.11.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/common/js/jquery.serializeObject.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/common/js/validation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/user/js/user.js') }}"></script>
        <style type="text/css">
            html{
                background: #ccc;
                font-family: Trebuchet Ms;
            }
            input[type=password]{
                width:100%;
                padding:10px;
                background-color: #F5F5F5;
                border:1px solid #ccc;
                margin-bottom: 30px;
            }
            div.circle{
                margin:0 auto;
                width:170px;
                height:170px;
                /*background-color: #B8B8B8;*/
                border-radius: 100px;
            }
            input[type=button]{
                padding:10px;
                width:100%;
                background-color: #0f6e50;
                color:#fff;
                font-weight:bold;
                text-align:center;
                border:1px solid #ccc;        
            }
            input[type=button]:hover{
                background-color: #138762;
            }
            ul.tooltip{
                margin:0 auto;
                padding:0 10px;
                width:95%;
                border-radius: 10px;
                background: #fff;
                list-style:none;
                display:none;
                position: absolute;
                z-index:100;
            }
            ul.tooltip li{
                font-size: 12px; 
                color:#ff0000;
                margin:0;
                padding:3px 0;
            }
        </style>
        <script type="text/javascript">
            function mouseout(){
                document.getElementById('tooltip').style.display='none';
            }
            function mouseover(){
                document.getElementById('tooltip').style.display='block';
            }
        </script>
    </head>
    <body>
        <form id="FormActivateAccount">
            <div id="divActivation">  
                <input type="hidden" name="inputAccId" value="{{account.userIdPk}}"> 
                <p style="margin:0; color:#ff0000; text-align:center; font-size: 13px; padding:5px;">It seems you are login using your default password. You must change your password for accessing the application.</p>
                <p id="err_p" style="margin:0; margin-top: 110px; width:100%; color:#ff0000; text-align:center; font-size: 12px; position:absolute;"></p>
                <br/><br/>
                <div style="width:300px; margin:auto; position:relative;">    
                    <h2 style="margin:0; color:#0f6e50; padding:10px 0; text-align:center;">Activate Account</h2>
                    <p style="margin:0; color:#6c6e6d; text-align:center;">You need to activate your account</p>        

                    <div class="circle">
                        <img alt="photo" src="
                             {%set path=account.userFk.personFk.pictureFk.path|default('')%}
                            {%if path!=''%}                
                                {{asset(path)}}
                            {%else%}
                                {{asset("bundles/common/images/unk.jpg")}}
                            {%endif%}
                             " style="margin: 35px; width:110px; height:110px; border-radius:70px;">               
                    </div>
                    <h3 style="margin:0; color:#333; text-align:center; font-size: 12px;">{{account.userFk.personFK.personName|default('')|upper}}</h3> <br/>
                    <input type="password" id="txtpass" name="txtpass" placeholder="Enter New Password" >    
                    <input type="password" id="txtcpass" name="txtcpass" placeholder="Confirm Password">
                    <input id="btnactivate" type="button" value ="Activate" onclick="ActivateAccount('{{path("_activateaccount")}}');">
                    <br/>
                    <p style="margin:10px 0; text-align: center; font-size:12px;">
                        <a href="javascript:void(0);" class="hint" style="text-decoration: underline;" onmouseover="mouseover();" onmouseout="mouseout();" >Password Hint</a></p>  
                            <ul id="tooltip" class="tooltip">
                                <li>Password must be atleast 8 letters long</li>
                                <li>Password can contain 'A-Z','a-z','0-9','@,'_', '.'</li>                                
                                <li>Password must contain atleast 1 Alphabet and 1 Number</li>
                            </ul>
                </div>
            </div>
            <div id="divSuccess" style="margin:150px 200px; position:relative; display:none;">
                <p style="margin:0; padding:0; 
                          padding-left:30px; color:#1c8362; 
                          position:absolute; font-size:1.7em;
                          background: #ccc url('{{asset("bundles/common/images/checkmarktick.png")}}') no-repeat;
                          background-position-y:6px;">Activate Successfull</p>
                <br/>
                <p style="margin:30px 0; text-align:justify; color:#156a4f;">You new password has been changed successfully.You can now access the application.<br/> Click  
                    <a href="{{path("_login")}}">here</a> to login.</p>
            </div>
                        
        </form>
    </body>
</html>
    
