<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
    <tr>
        <input id="spanCloseOpenHandlerempdetail" value="0" type="hidden"/>
        <td class="td-label-title" style="cursor:pointer;" onclick="lmsShowHideAddressResult('empdetail');">
            Employee Detail
            <span style="float: right;" id="spanIdempdetail" class="span_open" >&nbsp;</span>
        </td>
    </tr>
    <tr id="trAddressempdetail">
        <td>
            <table width="100%" cellspacing="0"> 
                 <tr>
                    <td class="td-gray-bg" width="150px">Employee ID</td>
                    <td class="td-white-bg">{{emp.employeeId}}</td>
                    <td width="50%" rowspan="6" align="center" valign="middle">       
                        {%if emp.personFk.pictureFk is null%}
                            <img src="{{asset("bundles/common/images/unk.jpg")}}" alt="photo" height="200" width="170" style="margin:auto; border:1px solid #606060; padding:5px;"/>
                        {%else%}
                            <img src="{{asset(emp.personFk.pictureFk.path)}}" alt="photo" height="200" width="170"style="margin:auto; border:1px solid #606060; padding:5px;"/>
                        {%endif%}
                    </td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">First Name</td>
                    <td class="td-white-bg">{{emp.personFk.firstName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Middle Name</td>
                    <td class="td-white-bg">{{emp.personFk.middleName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Last Name</td>
                    <td class="td-white-bg">{{emp.personFk.lastName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Designation</td>
                    <td class="td-white-bg">{{emp.empJobTitleFk.jobTitleName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Department</td>
                    <td class="td-white-bg">{{emp.departmentFk.departmentName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Branch</td>
                    <td class="td-white-bg" colspan="2">{{emp.branchOfficeCode.branchName|default('')|upper}}</td>
                </tr>
            </table>      
        </td>
    </tr>
</table>
<br/>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
    <tr>
        <td class="td-label-title">Change User Account Expiry Date</td>
    </tr>
    <tr>
        <td>
            <form id="FormChangeExpiry">
                <input type="hidden" name="inputAccid" value="{{acc.userIdPk}}">
                <table width="100%" cellspacing="0">                    
                    <tr>
                        <td class="td-gray-bg" width="150px">User/Login Name<span class="mandatoryField">*</span></td>
                        <td class="td-white-bg" colspan="2"><input type="text" class="cmnWidth" id="txtuname" name="txtuname" value="{{acc.userName}}" readonly></td>
                    </tr>                                      
                    <tr>
                        <td class="td-gray-bg">Effective Date<span class="mandatoryField">*</span></td>
                        <td class="td-white-bg">
                            <input type="date" id="txtWef" name="txtWef" value="{{"now"|date("Y-m-d")}}" class="cmnWidth" value="{{acc.startDate|date('Y-m-d')|default('')}}" readonly>
                        </td>
                        <td class="td-white-bg">
                            <ul style="margin:0; list-style: none;">
                                <li style="font-size: 11px; color:#ff0000;">Date from which the account can be used</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Expiry Date</td>
                        <td class="td-white-bg">
                            <input type="date" id="txtExpDate" name="txtExpDate" class="cmnWidth" value="{{acc.endDate|date('Y-m-d')|default('')}}"></td>
                        <td class="td-white-bg">
                            <ul style="margin:0; list-style: none;">
                                <li style="font-size: 11px; color:#ff0000;">Date on which the account expires</li>
                            </ul>
                        </td>
                    </tr>                    
                    <tr>
                        <td class="td-gray-bg"></td>
                        <td class="td-white-bg" colspan="2">
                            <input type="button" class="button" value="Submit" onclick="ChangeExpiryDate('{{path("_updateexpirydate")}}');">
                        </td>
                    </tr>
                </table>  
            </form>
        </td>
    </tr>
</table>