<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
    <tr>
        <input id="spanCloseOpenHandlerempdetail" value="0" type="hidden"/>
        <td class="td-label-title" style="cursor:pointer;" onclick="lmsShowHideAddressResult('empdetail');">
            Employee Detail
            <span style="float: right;" id="spanIdempdetail" class="span_open" >&nbsp;</span>
        </td>
    </tr>
    <tr id="trAddressempdetail">
        <td>
            <table width="100%" cellspacing="0"> 
                 <tr>
                    <td class="td-gray-bg" width="150px">Employee ID</td>
                    <td class="td-white-bg">{{emp.employeeId}}</td>
                    <td width="50%" rowspan="6" align="center" valign="middle">       
                        {%if emp.personFk.pictureFk is null%}
                            <img src="{{asset("bundles/common/images/unk.jpg")}}" alt="photo" height="200" width="170" style="margin:auto; border:1px solid #606060; padding:5px;"/>
                        {%else%}
                            <img src="{{asset(emp.personFk.pictureFk.path)}}" alt="photo" height="200" width="170"style="margin:auto; border:1px solid #606060; padding:5px;"/>
                        {%endif%}
                    </td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">First Name</td>
                    <td class="td-white-bg">{{emp.personFk.firstName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Middle Name</td>
                    <td class="td-white-bg">{{emp.personFk.middleName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Last Name</td>
                    <td class="td-white-bg">{{emp.personFk.lastName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Designation</td>
                    <td class="td-white-bg">{{emp.empJobTitleFk.jobTitleName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Department</td>
                    <td class="td-white-bg">{{emp.departmentFk.departmentName|default('')|upper}}</td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="150px">Branch</td>
                    <td class="td-white-bg" colspan="2">{{emp.branchOfficeCode.branchName|default('')|upper}}</td>
                </tr>
            </table>      
        </td>
    </tr>
</table>
<br/>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
    <tr>
        <td class="td-label-title">Enter User Account Detail</td>
    </tr>
    <tr>
        <td>
            <form id="FormCreateAccount">
                <input type="hidden" name="inputEmpId" value="{{emp.employeePk}}">
                <table width="100%" cellspacing="0">
                    {#<tr>
                        <td class="td-gray-bg" width="150px">Select User Group</td>
                        <td class="td-white-bg" colspan="2">
                            <div class="tableElementEmulation">
                                <ul class="trElementEmulation">
                                    {%for group in groupArr%}
                                        <li class="tdElementEmulation">                                                          
                                            <label for="chkGroup{{group.pkid}}">
                                                <input type="checkbox" id="chkGroup{{group.pkid}}" name="chkGroup" value="{{group.pkid}}" onchange="ToggleGroupSelection(this);">
                                                {{group.groupName|upper}}
                                            </label>
                                            <input type="hidden" id="inputgroup{{group.pkid}}" name="inputgroup"/>
                                        </li>
                                    {%endfor%}
                                </ul>
                                <input type="hidden" id="inputIsGrpselected"/>
                             </div>
                        </td>
                    </tr>#}
                    <tr>
                        <td class="td-gray-bg" width="150px">User/Login Name<span class="mandatoryField">*</span></td>
                        <td class="td-white-bg" colspan="2"><input type="text" class="cmnWidth" id="txtuname" name="txtuname"></td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Password<span class="mandatoryField">*</span></td>
                        <td class="td-white-bg" width="200px">
                            <input type="text" class="cmnWidth" id="txtpass" name="txtpass" value="{{rand}}">
                        </td>
                        <td class="td-white-bg" rowspan="2" >
                            <ul style="margin:0; list-style: none;">
                                <li style="font-size: 11px; color:#ff0000;">Password must be atleast 8 letters long</li>
                                <li style="font-size: 11px; color:#ff0000;">Password can contain 'A-Z','a-z','0-9','@,'_', '.'</li>                                
                                <li style="font-size: 11px; color:#ff0000;">Password must contain atleast 1 Alphabet and 1 Number</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Confirm Password<span class="mandatoryField">*</span></td>
                        <td class="td-white-bg" colspan="2"><input type="text" class="cmnWidth" id="txtcpass" name="txtcpass" value="{{rand}}"></td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Effective Date<span class="mandatoryField">*</span></td>
                        <td class="td-white-bg"><input type="date" id="txtWef" name="txtWef" value="{{"now"|date("Y-m-d")}}" class="cmnWidth"></td>
                        <td class="td-white-bg">
                            <ul style="margin:0; list-style: none;">
                                <li style="font-size: 11px; color:#ff0000;">Date from which the account can be used</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Expiry Date</td>
                        <td class="td-white-bg"><input type="date" id="txtExpDate" name="txtExpDate" class="cmnWidth"></td>
                        <td class="td-white-bg">
                            <ul style="margin:0; list-style: none;">
                                <li style="font-size: 11px; color:#ff0000;">Date on which the account expires</li>
                            </ul>
                        </td>
                    </tr>                    
                    <tr>
                        <td class="td-gray-bg"></td>
                        <td class="td-white-bg" colspan="2">
                            <input type="button" class="button" value="Create Account" onclick="CreateAccount('{{path("_insuseraccount")}}');">
                        </td>
                    </tr>
                </table>  
            </form>
        </td>
    </tr>
</table>