<tr id="{{obj.pkid}}">
<td class="td-gray-bg">Sub-Category For {{obj.categoryName}}</td>
<td class="td-gray-bg" align="left">
    <select class="normal_select cmnWidth"  id="pkid{{obj.pkid}}" onchange="editloadsubcatdy('{{obj.pkid}}');">
         <option value="">--Select--</option>
            {%for cat in catMaster%}
            <option value="{#{{path('_prdshow_dynamic_subcategory',{'mode':mode,'pkid':cat.pkid})}}#}">{{cat.categoryName}}</option>
            {%endfor%}
    </select> 
</td>
</tr>
