<input type="hidden" value="0" class="created_advance_payment_hide_show_key"/>
<form id="frmApprovalCreateAdvancePayment">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >      
    {#paramer: project_item => class name of table row (tr) to hide or show #}
    <tr onclick="fnHideShow('created_advance_payment');">      
        <td class="td-label-title">
             List Of Pending Approval For Created Advance Payment Of Employees :
            <div class="created_advance_payment_hide_show_icon floatRight plus"></div>
        </td>
    </tr>
    <tr class="created_advance_payment displayNone">
        <td>                    
            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display">  
                <thead>
                    <tr>
                        <th class="tbl-th-grid-view-row-no-bg"><input type="checkbox" class="checkAll" onclick="checkUncheckAll(this);" /></th>
                        <th class="tbl-th-grid-view-row-no-bg">Employee Id</th>
                        <th class="tbl-th-grid-view-row-no-bg">Employee Name</th> 
                        <th class="tbl-th-grid-view-row-no-bg">Employee Designation</th>
                        <th class="tbl-th-grid-view-row-no-bg">Created On</th>                       
                        <th class="tbl-th-grid-view-row-no-bg"> Amount</th>  
                        <th class="tbl-th-grid-view-row-no-bg"> Action</th>  
                    </tr>
                </thead>
                <tbody>                           
                       
                 {%for a in createdAdvancePayment|default('') %} 
                    <tr>
                        <td class="tbl-grid-view-row-no-bg" align="center"><input type="checkbox" class="select_adv_pay" name="txt_selected_advance_payment" value="{{ a.advancePaymentPk|default('') }}" /></td>
                        <td class="tbl-grid-view-row-no-bg" align="center">{{ a.employeeFk.employeeId|default('') }}</td>
                        <td class="tbl-grid-view-row-no-bg" align="center">{{ a.employeeFk.personFk.personName | default('')}}</td>
                        <td class="tbl-grid-view-row-no-bg" align="center">{{ a.employeeFk.empJobTitleFk.jobTitleName | default('')}}</td>
                        <td class="tbl-grid-view-row-no-bg" align="center">{{ a.createdDate | date('d-m-Y')}}</td>                     
                        <td class="tbl-grid-view-row-no-bg" align="center">{{ a.advanceAmount|default('') }}</td>  
                        <td class="tbl-grid-view-row-no-bg" align="center">
                            <select class="normal_select" id="employeeAction{{a.employeeFk.employeePk|default('')}}" name="txt_employeeAction" >
                                <option value="">Select</option>                                 
                                <option value="{{path('_show_advance_payment',{'empID': a.employeeFk.employeePk|default('')})}}&his">View History</option>                            
                            </select> 
                            <input class="button" name="commit" type="button" value="Go" onclick="employeeAdvancePaymentAction(this,'{{a.employeeFk.employeePk|default('')}}','#employeeAction');" />
                        </td>
                    </tr>                    
                {%endfor%}
                       
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="created_advance_payment displayNone td-gray-bg">
        <td align="center" style="padding: 6px;">
             Approve or Reject Date: &nbsp;&nbsp;&nbsp;
             <input type="date" class="cmnWidth" id="rapproved_or_rejected_date" name="txt_approved_or_rejected_date"/>
        </td>
    </tr>
    <tr class="created_advance_payment displayNone td-gray-bg">
        <td align="center" style="padding: 6px;">
             <input type="button" class="button blue" id="approve_btn" value="Approve" onclick="return cmnApprovedOrRejectCreatedAdvancePayment(this,'{{path('_approved_created_advance_payment')}}', 'A');"/>
             <input type="button" class="button blue" id="reject_btn" value="Reject" onclick="return cmnApprovedOrRejectCreatedAdvancePayment(this,'{{path('_approved_created_advance_payment')}}', 'R');"/>
        </td>
    </tr>
</table>
</form>
<div id="emp_advance_payment_div" style="margin-top: 10px;"></div>
{#open/show hide table when load in first time#}
<script type="text/javascript">
    fnHideShow('created_advance_payment'); 
</script>