<script type="text/javascript" src="{{ asset('bundles/common/js/Navigation/script.js') }}"></script>
<div class='sub-menu'>
    <ul>
        <li class='active' onclick="fnLeftMenuNavigation('{{path('_approved_salary_slip')}}', 'apprv_sal_slip', 'Payroll', 'Approved Salary Slip');"><a id="asset_register" >Approved Salary Slip</a></li>               
    </ul>
</div>
<div class="newdashboard"> 
    <div class="application-form">        
        <div class="approval_list">         
                <input type="hidden" value="0" class="approval_salary_slip_hide_show_key"/>
                <form id="frmApprovalSalarySlip" >
                    <div id="printHere">
                <table id="approve_salary_slip_tbl" width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">           
                    <tr onclick="fnHideShow('approval_salary_slip');">
                        <td class="td-label-title">
                            <span>Pending Approval List Of Created Salary Slip :</span>  
                            <div class="approval_salary_slip_hide_show_icon floatRight plus"></div>
                        </td>
                    </tr>
                    <tr class="approval_salary_slip displayNone">
                        <td class="td-cmn-white-bg">
                            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                                <thead>
                                    <tr>
                                        <th class="tbl-th-grid-view-row-no-bg"><input type="checkbox" class="checkAll" onclick="checkUncheckAll(this);" /></th>
                                        <th class="tbl-th-grid-view-row-no-bg">ID</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Name</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Dsignation</th>                                   
                                        <th class="tbl-th-grid-view-row-no-bg">Salary</th> 
                                        <th class="tbl-th-grid-view-row-no-bg">Created On</th> 
                                        <th class="tbl-th-grid-view-row-no-bg">Month Of</th>   
                                    {#    <th class="tbl-th-grid-view-row-no-bg">Description</th>   #}
                                        <th class="tbl-th-grid-view-row-no-bg">Action</th>
                                    </tr>
                                </thead>
                                <tbody>   
                                    {%set recordFlag = 0%}
                                    {% for s in createdSalarySlip|default('') %} 
                                      <tr id="salarySlipInfo{{s.salarySlipPk|default('')}}">
                                          <td class="tbl-grid-view-row-no-bg" align="center">
                                              <input type="checkbox" class="select_adv_pay" name="txt_selected_salary_slip" value="{{ s.salarySlipPk|default('') }}" onclick="checkNoOfCheckBox(this);"/>
                                          </td>
                                          <td class="tbl-grid-view-row-no-bg" align="center">{{ s.employeeFk.employeeId|default('') }} </td>
                                          <td class="tbl-grid-view-row-no-bg" align="center">{{ s.employeeFk.personFk.personName|default('') }}</td>
                                          <td class="tbl-grid-view-row-no-bg" align="center">{{ s.employeeFk.empJobTitleFk.jobTitleName | default('')}}</td> 
                                          <td class="tbl-grid-view-row-no-bg" align="center">
                                               {{ s.netSalary| default('') }}
                                               {%if s.deductionAdjustmentWalletBal is defined %}
                                                   + {{ s.deductionAdjustmentWalletBal| default('') }} (wallet) <br/>
                                                <span style="margin-left: -80px;"> = {{ s.netSalary| default('') + s.deductionAdjustmentWalletBal| default('') }}</span>
                                               {% endif %}
                                               <input type="hidden" name="{{ 'txt_salary'~s.salarySlipPk| default('')}}" value="{{ s.netSalary| default('') }}"/>
                                          </td> 
                                          <td class="tbl-grid-view-row-no-bg" align="center">{{ s.createdDate | date('m-d-Y') }}</td>   
                                          <td class="tbl-grid-view-row-no-bg" align="center">{{ s.monthFk.monthName | default('') }}, {{ s.year | default('') }}
                                          <input type="hidden" id="month" name="txt_month" value="{{s.monthFk.pkid | default('')}}"/>
                                          <input type="hidden" id="monthName" name="txt_month" value="{{s.monthFk.monthName | default('')}}"/>
                                          <input type="hidden" id="year" name="txt_year" value="{{s.year | default('')}}"/>
                                          </td>                                                                                                                                                                                            
                                        {#  <td class="tbl-grid-view-row-no-bg" align="center">
                                              <textarea id="{{ 'description'~s.salarySlipPk|default('') }}" name="{{ 'txt_description'~s.salarySlipPk|default('') }}" cols="25" rows="3"></textarea>
                                          </td> #}
                                          <td class="tbl-grid-view-row-no-bg" align="center" style="width: 150px;">                                                                                     
                                              <select class="normal_select" id="employeeSalarySlipApproveAction{{s.salarySlipPk|default('')}}" name="txt_empSalarySlipApproveAction" >                                                
                                                     <option value="">--Select--</option>    
                                                     <option value="{{path('_create_emp_salary_slip',{'empID': s.employeeFk.employeePk|default('')})}}&viewEdit">View&Edit</option>                                                                                                                                                 
                                               </select> 
                                              <input class="button" name="commit" type="button" value="Go" onClick="employeeSalarySlipApproveAction(this,'{{s.salarySlipPk|default('')}}', '{{s.monthFk.monthName | default('')}}', '{{s.monthFk.pkid | default('')}}', '{{ s.year | default('') }}', '#employeeSalarySlipApproveAction');" />
                                          </td> 
                                      </tr> 
                                      {%set recordFlag = 1%}
                                    {% endfor %}                                 
                                </tbody>
                            </table>                 
                        </td>                  
                    </tr>
             {% if recordFlag > 0 %}
                    <tr>
                        <td>
                            <table id="account_entry_form_tbl" width="100%" border="0" cellpadding="0" cellspacing="0"> 
                                <tr>
                                    <td class="td-gray-bg">Payment Account <span class="necessary-field">*</span></td>
                                    <td class="td-white-bg">
                                        <select class="cmnWidth" id="paymentAccount" name="txt_payment_account" onchange="loadAccountSource(this.value, '{{ path('_load_account_source_type') }}');">
                                            <option value="">--select--</option>                                      
                                            <option value="1">Cash</option> 
                                            <option value="2">Bank</option>  
                                        </select> 
                                    {%for p in paymentMode%} 
                                        <input type="hidden" id="keyToDetectCash{{ p.pkid|default('') }}" value="{{ p.ispaymentNoRequired|default('') }}"/> 
                                    {%endfor%}
                                    </td>
                                    <td class="td-gray-bg">Select Source Account <span class="necessary-field">*</span></td>
                                    <td class="td-white-bg">
                                        <select class="cmnWidth" id="enter_account_id" name="txt_enter_account_id">
                                            <option value="">--select--</option>                                        
                                        </select> 
                                      {#  <span id="current_balance_field" style="margin-left: 30px; display: none;">
                                            Current Balance(<b>&#8377;</b>):  <span id="balance" style="margin-left: 10px;"></span>
                                        </span> #}
                                    </td>
                                </tr>
                                <tr>                                                                  
                                    <td class="td-gray-bg">Date <span class="necessary-field">*</span></td>
                                    <td class="td-white-bg" colspan="3">
                                        <input type="date" class="cmnWidth" id="rapproved_or_rejected_date" name="txt_approved_or_rejected_date"/>
                                    </td>
                                </tr>
                                <tr>                               
                                    <td class="td-gray-bg">Month <span class="necessary-field">*</span></td>
                                    <td class="td-white-bg">
                                        <select class="cmnWidth" id="salary_month" name="txt_salary_month">
                                            <option value="">--select--</option>     
                                            {%for m in month%}
                                                <option value="{{m.pkid}}">{{m.monthName}}</option> 
                                            {%endfor%}
                                        </select>                                      
                                    </td>
                                    <td class="td-gray-bg">Year <span class="necessary-field">*</span></td>
                                    <td class="td-white-bg" colspan="3">
                                        <input type="text" class="cmnWidth" id="salary_year" name="txt_salary_year" value="{{ 'now'|date('Y')}}"/>
                                    </td>
                                </tr>
                                <tr>                               
                                    <td class="td-gray-bg">Description <span class="necessary-field">*</span></td>
                                    <td class="td-white-bg" colspan="3">
                                        <textarea id="description" name="txt_description" cols="100" rows="5"></textarea>
                                    </td>
                                </tr> 
                                <tr>
                                    <td align="center" style="padding: 6px;" colspan="4">
                                        <input type="button" class="button blue" id="approve_btn" value="Approve" onclick="return cmnApprovedOrRejectSalarySlip(this,'{{path('_reject_approved_salary_slip_by_hr')}}', 'A');"/>
                                        <input type="button" class="button blue" id="reject_btn" value="Reject" onclick="return cmnApprovedOrRejectSalarySlip(this,'{{path('_reject_approved_salary_slip_by_hr')}}', 'R');"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>                                   
           {% endif %}
                </table> </div>
                </form>  
        </div> 
            <br/>
         {# <input type="button" class="button" id="btn_Sendmail" name="btn_mail" value="SendMail" 
            onclick="SendMailWithAttachment('{{path('_Payrolsendingmailwithattachment')}}');"/>#}
            
          {# <input type="button" class="button" id="btn_pdf" name="btn_pdf" value="ConvertToPDF" 
            onclick="ConvertToPDF('{{path('_convertpdf')}}');"/>#}
            
            <div style="margin-top:10px;" id="approval_list1">
            
            
            </div>           
              <div id="imagehgh" style="display:none;width:300px;height: 100px;">                    
    </div>
            
            
        {# hidden field of month and year use for salary slip#}
        <input type="hidden" id="monthID" value="{{ monthID|default('') }}" />
        <input type="hidden" id="year" value="{{ year|default('') }}" />
        <input type="hidden" id="pageType" value="approvePage" />
        <div id="salary_slip_form" style="margin-top: 10px;"></div>         
        {#open/show hide table when load in first time#}
        <script type="text/javascript">
            fnHideShow('approval_salary_slip'); 
        </script>     
    </div> 
</div>