<table width="100%" align="center" id="example" cellspacing="0">  
    <thead>
        <tr> 
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: center; width: 70px;">Sl.no</th> 
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left; width:250px;">Module Name</th> 
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align: left;">Description</th>
            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="width:150px;">Action</th>
        </tr>
    </thead>
    <tbody>  
        {%set slno=1%}
        {%for module in moduleArr%}
            <tr>
                <td class="tbl-grid-view-row-no-bg" width="70px">{{slno}}</td>
                <td class="tbl-grid-view-row-no-bg" align="left">{{module.moduleName}}</td>
                <td class="tbl-grid-view-row-no-bg" style="text-align: justify;">{{module.description}}</td>
                <td class="tbl-grid-view-row-no-bg" width="150px">
                    <select id="selModuleAction{{module.pkid}}">
                        <option value="">--select--</option>
                        <option value="{{path("_gotoeditmodule",{'moduleid':module.pkid})}}&edt">Edit</option>
                        <option value="{{path("_deletemodule",{'moduleid':module.pkid})}}&del">Delete</option>
                    </select>
                    <input type="button" class="button" value="Go" onclick="moduleAction('selModuleAction{{module.pkid}}');">
                </td>
            </tr>
            {%set slno=slno+1%}
        {%endfor%}
    </tbody>
</table>
