<div class="application-form"> 
    <form id="frmBin" style="margin: 0px;">
        <div id="divManageBin">
                <table width="100%" class="tbl-border"cellspacing="0" cellspadding="0">
                <tr>
                    <td class="td-label-title" colspan="5">Manage Bin Detail</td>
                </tr>
                <tr>
                    <td class="td-gray-bg">Select Store:<span class="necessary-field">*</span></td>
                                    <td class="td-white-bg">
                                <Select class="cmnWidth" name="storename"  id="storename" onchange="cmnLoadStoreList(this, '{{path('_cmn_store_load_list', {'key': 'B'})}}', 'buildingname');">
                                        <option value="">--Select--</option>
                                    {%for c in storeArr|default('') %}
                                        <option value="{{ c.storeMasterPk|default('') }}">{{ c.storeName|default('') }}</option>
                                    {%endfor%}
                               </Select>                                        
                            </td>
                    <td class="td-gray-bg">Select Building:<span class="necessary-field">*</span></td>
                            <td class="td-white-bg">
                                <Select class="cmnWidth" name="buildingname" id="buildingname" onchange="cmnLoadStoreList(this, '{{path('_cmn_store_load_list', {'key': 'F'})}}', 'floorno');">
                                        <option value="">--Select--</option>                                                    
                                </Select>                                        
                            </td>
                   </tr>
                <tr>
                    <td class="td-gray-bg">Select Floor:<span class="necessary-field">*</span></td>
                    <td class="td-white-bg">
                        <Select class="cmnWidth" name="floorno" id="floorno" onchange="cmnLoadStoreList(this, '{{path('_cmn_store_load_list', {'key': 'R'})}}', 'roomno');">
                            <option value="">--Select--</option>                                                   
                        </Select>                                         
                    </td>
                    <td class="td-gray-bg">Select Room:<span class="necessary-field">*</span></td>         
                    <td class="td-white-bg">
                        <Select class="cmnWidth" name="roomno" id="roomno" onchange="cmnLoadStoreList(this, '{{path('_cmn_store_load_list', {'key': 'Rack'})}}', 'selRack');">
                            <option value="">--Select--</option>                                                       
                        </Select> 
                    </td> 
                </tr>
                <tr>
                    <td class="td-gray-bg">Select Rack:<span class="necessary-field">*</span></td>         
                    <td class="td-white-bg">
                        <Select class="cmnWidth" name="selRack" id="selRack">
                            <option value="">--Select--</option>                                                       
                        </Select> 
                    </td>
                    <td class="td-gray-bg">Bin No:<span class="necessary-field">*</span></td>
                    <td class="td-white-bg"><input type="text" class="cmnWidth" name="binno" id="binno"></td>
                </tr>            
                <tr>
                    <td class="td-separator" colspan="4" style="text-align: center;">
                        <input type="button" class="button blue" id="btn_save" value="Save" onclick="return saveBin('{{ path('_insertBin')}}', this);"/>
                        <input type="button" class="button blue" id="btn_edit" value="Edit" onclick="storeEditBtn('storename', 'buildingname', 'floorno', 'roomno', 'rackno', 'rackrowno', 'rackcolumnno');" style="display: none;"/>
                        <input type="button" class="button blue" id="btn_update" value="Update" onclick="return updateBin(this);" style="display: none;"/>
                        <input type="button" class="button blue" id="btn_cancel" value="Cancel" onclick="fnSubMenuNavigation('{{path('_addbin')}}', 'Rack', 'Store Management', 'Rack', 'Rack Master');" style="display: none;"/>
                        <input type="button" class="button blue" id="btn_clear" value="Reset" onclick="formReset();"/>  
                    </td>
                </tr>                               
            </table>
        </div>
    </form>

    <div id="display-list" class="stylecommonborder" style="margin-top: 10px;">
        <input type="hidden" id="addStoreRackUpdateURL" value="">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
            <tr>
                <td class="td-label-title" colspan="5">Bin List:</td>
            </tr>
            <tr>
                <td>
                    <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                        <thead class="td-label-title">
                            <tr>

                                <th class="tbl-th-grid-view-row-no-bg">Store</th> 
                                <th class="tbl-th-grid-view-row-no-bg">Building</th>
                                <th class="tbl-th-grid-view-row-no-bg">Floor</th>
                                <th class="tbl-th-grid-view-row-no-bg">Room</th>
                                <th class="tbl-th-grid-view-row-no-bg">Rack</th>
                                <th class="tbl-th-grid-view-row-no-bg">Bin</th>
                                <th class="tbl-th-grid-view-row-no-bg">Action</th> 
                            </tr>
                        </thead>

                        <tbody>                           
                          {% for bin in binArr%}
                              {%set rack=bin.rackFk%}
                              {%set room=rack.storeRoomMasterFk%}
                              {%set floor=room.storeFloorMasterFk%}
                              {%set bldg=floor.storeBuildingMasterFk%}
                              {%set store=bldg.storeMasterFk%}
                                <tr>                                    
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{store.storeName | default('')}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{bldg.buildingName | default('')}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{floor.storeFloorNo | default('')}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{room.storeRoomNo | default('')}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="left">
                                        <b>Rack Name: </b>{{rack.rackName | default('')}}<br>
                                        <b>Row: </b>{{rack.rowNumber | default('')}}<br>
                                        <b>Column: </b>{{rack.columnNumber | default('')}}
                                    </td>                                    
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{bin.binNo}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">
                                        <a href="javascript:void();" onclick="RetrieveBin('{{path('_retrieveBin',{'binid': bin.pkid })}}');">Edit </a> | 
                                        <a href="javascript:void();" onclick="deleteBin('{{path('_deletebin',{'binid': bin.pkid })}}');" style="color:#ff0000;">Delete </a>     
                                    </td>                                                 
                                </tr>
                                  {%endfor%}                                       
                            </tbody>                      
                        </table>
                    </td>
                </tr>                                 
            </table>
        </div>
    </div> 

