<input type="hidden" id="addStoreUpdateURL" value="{{'/Tashi/web/app_dev.php/Store/update_addStore/'~record.id  }}">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
                <tr>
                    <td class="td-label-title">Store List:</td>
                </tr>
                <tr>
                    <td> 
                    <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                        <thead class="">
                            <tr>
                                <th class="tbl-th-grid-view-row-no-bg">Store Name</th> 
                                <th class="tbl-th-grid-view-row-no-bg">Description</th>
                                <th class="tbl-th-grid-view-row-no-bg">Action</th> 
                            </tr>
                        </thead>

                        <tbody>                           
                                {% for c in record.result%}
                                    <tr>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{c.storeName | default('')}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{c.storeDesc | default('')}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">
                                        <a href="javascript:void();" onclick="retriveStoreMaster('{{path('_retrieve_addStore',{'Stid': c.storeMasterPk })}}');">Edit </a> | 
                                        <a href="javascript:void();" style="color:#ff0000;" onclick="deleteAddStoreMaster('{{path('_delete_addStore',{'Stid': c.storeMasterPk })}}');">Delete </a>
                                        
                                        </td>                                                 
                                    </tr>
                                  {%endfor%}                          
                        </tbody>
                    </table>
                </td>
            </tr>                                 
        </table>