<input type="hidden" id="addStorebuildingUpdateURL" value="{{'/Tashi/web/app_dev.php/Store/update_addStoreBuilding/'~record.id  }}">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
    <tr>
        <td class="td-label-title">Building List:</td>
    </tr>
    <tr>
        <td>
            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                <thead class="">
                    <tr>
                        <th class="tbl-th-grid-view-row-no-bg">Building ID</th>
                        <th class="tbl-th-grid-view-row-no-bg">Store Name</th> 
                        <th class="tbl-th-grid-view-row-no-bg">Building Name</th>
                        <th class="tbl-th-grid-view-row-no-bg">Address</th>
                        <th class="tbl-th-grid-view-row-no-bg">Action</th> 
                    </tr>
                </thead>

                <tbody>                           
                             {% for c in record.result%}
                        <tr>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{c.storeBuildingPk | default('')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{c.storeMasterFk.storeName | default('')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{c.buildingName | default('')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{c.addressMasterFk.address1 | default('')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">
                                <a href="javascript:void();" onclick="retreiveStoreBuilding('{{path('_retrieve_addStoreBuilding',{'StBid': c.storeBuildingPk })}}');">Edit </a> | 
                                <a href="javascript:void();" style="color:#ff0000;" onclick="deleteStoreBuildingMaster('{{path('_delete_addStoreBuilding',{'StBid': c.storeBuildingPk })}}');">Delete </a>
                            </td>                                                 
                        </tr>
                              {%endfor%}    
                    </tbody>
                </table>
            </td>
        </tr>                                 
    </table>