<div class='sub-menu'>
    <ul>
        <li class='active'><a  href="javascript:void();">Manage Employee Expenses</a></li> 
{# <li id="Search_Purchase_id"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_search_purchase')}}', 'Search_Purchase_id', 'Purchase', 'Search Purchase', 'Search Purchase');"><span>Search</span></a></li> #}
        </ul>
    </div>
    <div class="newdashboard"> 
        <div class="application-form"> 
            <input type="hidden" id="inputloadexpurl" value="{{path("_pendingexpenses")}}">
            <div id="WalletExpensesApprove">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
                    <tr>
                    <input id="spanCloseOpenHandlerShowWalletExpenses" value="0" type="hidden">
                    <td class="td-label-title" onclick="lmsShowHideAddressResult('ShowWalletExpenses');">Pending Expnses List <span style="float: right;" id="spanIdShowWalletExpenses" class="span_open" >&nbsp;</span></td>
                    </tr>  
                    <tr id="trAddressShowWalletExpenses">
                        <td>
                            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                                <thead>
                                    <tr>
                                        <th class="tbl-th-grid-view-row-no-bg">Employee Name</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Expenses Type</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Amount</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Description</th>
                                        <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                                    </tr>
                                </thead>

                                <tbody>                           

                               {%for e in expense %} 
                                    <tr>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{e.empFk.personFk.personName}} </td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{e.expensesType.sourceType}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{e.amount}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{e.expensesDescription}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">
                                            <select id="TYPEID{{e.pkid}}" >
                                                {#{%if e.expensesType.pkid==1%}
                                                <option value="{{path('_retreivexpenses',{'id': e.pkid})}}&edit">Edit</option>{%endif%}#}
                                                <option value="{{path('_approve_exp',{'id': e.pkid})}}&aprv">Approve</option>
                                                <option value="{{path('_cancleapprove_exp',{'id':e.pkid})}}&cancel">Cancel</option>
                                            </select>
                                            <input type="button" value="Go" class="button blue" onclick="loadApproveCancel({{e.pkid}});"/>
                                        </td>
                                    </tr> 
                               {%endfor%}
                                </tbody>
                            </table>
                        </td>
                    </tr>                                 
                </table>
            </div>
            <div id="divTranDetail" style="margin-top: 30px;"></div>            
        </div>
    </div>

