 <div class='sub-menu'>
    <ul>
        <li class='active'><a  href="javascript:void();">Search Deposit</a></li> 
    </ul>
</div>
<div class="newdashboard"> 
    <div class="application-form"> 
        <form id="SearchDeposit">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">                       
                <tr>
                <td class="td-label-title">Search Deposit:</td>
                </tr>
                <tr>
                    <td>     
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">                             
                            <tr>
                                <td class="td-gray-bg cmnWidth" style="text-align: right;">Select Criteria:</td>
                                <td class="td-white-bg cmnWidth">
                                     <select id="selSearchDeposit" name="selSearchDeposit" onchange="SearchDepositeBYcriteria(this.id);" class="cmnWidth">
                                        <option value="">--Select--</option>                     
                                        <option value="all">All</option>
                                        <option value="empID">Employee ID.</option>
                                        <option value="date">Deposit Date</option>
                                        <option value="type">Source Type</option>
                                    </select>
                                </td>
                                <td class="td-gray-bg cmnWidth">
                                  
                                </td>
                                <td class="td-white-bg cmnWidth">
                                     
                                </td>
                                
                            </tr>
                            <tr id="trproject" style="display:none;">
                                <td class="td-gray-bg" id="tdtitle"> </td>
                                <td id="projectdisplay" class="td-white-bg">
                                   <select class="cmnWidth" name="projectid">
                                   <option value="">--Select--</option> 
                                  {% for s in source%}<option value="{{s.pkid| default('')}}">{{s.name | default('')}}</option>{%endfor%}
                                   </select>
                                </td>
                            </tr>
                            
                            <tr id="trcriteria" style="display:none;">
                                <td class="td-gray-bg" id="tdtitle"> </td>
                                <td id="tdsearchcriteria" class="td-white-bg">
                                    <input type="hidden" name="searchvalue" value="" id="searchvalue"/>
                                    <input type="text" id="txtCriteria" name="txtCriteria" style="display:none;" class="cmnWidth">
                                    <input type="hidden" name="inputcatid">                            
                                </td>
                            </tr>
                            
                            <tr style="display: none;" id="divdate">
                                <td class="td-gray-bg cmnWidth" style="text-align: right;">From:</td>
                                <td class="td-white-bg cmnWidth">
                                    <input class="cmnWidth" type="date" id="start" name="start" value="{{"now" | date('Y-m-d')}}"/>
                                </td>
                                 <td class="td-gray-bg cmnWidth">
                                   To:   <input class="cmnWidth" type="date" id="enddate" name="enddate" value="{{"now"|date_modify("+1 month")|date("Y-m-d")}}"/>
                                </td>
                                 <td class="td-white-bg cmnWidth">
                                   
                                </td>
                                
                            </tr>
                             <tr>
                                <td class="td-gray-bg cmnWidth"></td>
                                <td class="td-white-bg cmnWidth">
                                    <input type="button" class="button" id="btnSearchEmp" value="Search" placeholder="First Name" 
                                    onclick="return SearchDeposit('{{path("_searchdeposite")}}', this);">

                                </td>
                                <td class="td-gray-bg cmnWidth"> </td>
                                <td class="td-white-bg cmnWidth"></td>
                                
                                 
                            </tr>
                        </table>
                    </td>
                </tr> 
            </table>
            <div id="divSearchDeposite" style="margin-top: 10px;">
            
            </div> 
            <br/> 
        </form>   
    </div>
</div> 