<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" style="margin-top: 5px;">
    <tr>        
        <td class="td-label-title">Add Daily Report
            <table style="float:right;">
                <tr>
                    <td>Customer Name:  {{item.projectFk.customerFk.customerName|upper}}</td>
                    <td width="50px"></td>
                    <td>Project: {{item.projectFk.areaFk.area|upper}}</td>
                    <td width="50px"></td>
                    <td>Item: {{item.itemFk.productName|upper}}</td>                 
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="inputItemId" value="{{item.pkid}}"/>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="td-gray-bg" width="200px">Work Status<span class="mandatoryField">*</span></td>
                    <td class="td-white-bg" align="left">
                        <select name="selWorkStatus" id="selWorkStatus" class="cmnWidth">
                            <option value="">--select--</option>
                            {%for status in statusArr%}
                                <option value="{{status.pkid}}">{{status.statusName}}</option>
                            {%endfor%}
                        </select>
                    </td>   
                </tr>
                <tr>
                    <td class="td-gray-bg" width="200px">Report Date<span class="mandatoryField">*</span></td>
                    <td class="td-white-bg" align="left">
                        <input type="date" name="txtRptDate" id="txtRptDate" value="{{"now"|date('Y-m-d')}}">
                    </td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="200px">Report Detail<span class="mandatoryField">*</span></td>
                    <td class="td-white-bg" align="left">
                        <textarea name="txtRptdetail" id="txtRptdetail" cols="70" rows="6"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="200px">Work Image<span class="mandatoryField">*</span></td>
                    <td class="td-white-bg" align="left">
                        <input type="file" name="fileWorkImg" id="fileWorkImg"/><br/>
                        <span style="color:#999; font-size: 11px;">(.jpg,.jpeg,.png,.gif,.doc,.docx,.pdf,.bmp,.xls,.xlsx)</span>
                    </td>
                </tr>
                <tr>
                    <td class="td-gray-bg" width="200px"></td>
                    <td class="td-white-bg" align="left">
                        <input type="button" class="button" value="Submit" onclick="AddDailyReport('{{path("_insertdailyreport")}}');"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
