<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" style="margin-top: 5px;">
    <tr>
        <td class="td-label-title" colspan="3">Edit Project Referrer            
        </td>        
    </tr>
    <tr>
        <td id="tdProjRefDetail">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="td-gray-bg" width="200px">Name</td>
                    <td class="td-white-bg">
                        <input type="text" name="txtRefName" id="txtRefName" value="{{proj.referrerName|upper}}"/></td>
                </tr>
                <tr>
                    <td class="td-gray-bg">Contact Number</td>
                    <td class="td-white-bg" align="left">
                        <input type="text" name="txtRefContact" id="txtRefContact" value="{{proj.referrerNumber}}" onkeypress="return isValidNumber(event);" maxLength="10"/></td>                    
                </tr>
                <tr>
                    <td class="td-gray-bg">About</td>
                    <td class="td-white-bg">
                        <textarea name="txtAboutRef" id="txtAboutRef" cols="60" rows="5" placeholder="Few words describing the Referrer">{{proj.referrerAbout}}</textarea></td>
                    </tr>
                <tr>
                    <td class="td-gray-bg">About</td>
                    <td class="td-white-bg">
                        <input type="button" class="button" value="Update" onclick="UpdateProjectReferrer('{{path("_updateprojectref",{projid:proj.pkid})}}');"/>&nbsp;&nbsp;
                        <input type="button" class="button" value="Cancel" 
                               onclick="if(!confirm('Are you sure you want to cancel the update?')){return;} else{ProjectEditor('{{path("_canceleditprojectref",{'projid':proj.pkid})}}','divProjRefDetail');}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>