{# empty Twig template 
<input type="hidden" name="projectArea" value="{{areaid}}"/>
<br/>#}
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">
    {#<tr>
        <input id="spanCloseOpenHandlerprojprdList" value="0" type="hidden">
        <td class="td-label-title" onclick="lmsShowHideAddressResult('projprdList');" style="cursor:pointer;">
            Select Required Item(s) from the List below:
            <span style="float: right;" id="spanIdprojprdList" class="span_open" >&nbsp;</span>
        </td>
    </tr>#}
    <tr id="trAddressprojprdList">
        <td>
            <table width="100%">                                                   
                <tbody>
                    {%for cattxn in cattxnArr%}
                        <tr>
                            {%set catid=cattxn.prodCategoryFk.pkid%}
                            <input id="spanCloseOpenHandler{{catid}}" value="1" type="hidden">
                            <td class="td-label-title" colspan="5" style="cursor:pointer;" onclick="lmsShowHideAddressResult('{{catid}}');">{{cattxn.prodCategoryFk.categoryName|upper}}
                                <span style="float: right;" id="spanId{{catid}}" class="span_close" >&nbsp;</span>
                            </td>
                        </tr>
                        <tr id="trAddress{{catid}}" style="display:none;" >
                            <td colspan="5">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">    
                                    <thead>
                                        <tr>
                                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="width:90px;">
                                                <input type="checkbox" id="mainChk{{catid}}" onclick="toggleItemSelection('{{catid}}',this);"/>
                                            </th>
                                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align:left;">Product</th>
                                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" width="100px">Unit</th>
                                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align:right; width:120px;">Price</th>
                                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align:right; width:150px;">Required Quantity</th>
                                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg" style="text-align:right; width:130px;">Charges</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                        {%for price in priceArr%}
                                            {%if price.product.productCategory.pkid==cattxn.prodCategoryFk.pkid%}
                                                {%set prodid=price.product.pkid%}
                                                <tr>
                                                    <td class="tbl-grid-view-row-no-bg" align="center" width="90px">
                                                        <input type="checkbox" name="itemchkbox" id="itemchkbox{{catid~prodid}}" class="chkboxes{{catid}}" onclick="toggleItemSelection('{{catid}}',this);"/>
                                                        <input type="hidden" name="txtIsSelected" id="txtIsSelected{{catid~prodid}}" class="isitemselectedinput{{catid}}" value="0"/>
                                                        <input type="hidden" name="txtItemId" id="txtItemId{{catid~prodid}}" class="productIds{{catid}}" value="{{prodid}}"/>
                                                    </td>
                                                    <td class="tbl-grid-view-row-no-bg" style="text-align:justify;">
                                                        {%if price.product.pictureFk is null%}
                                                            <img src="{{asset("bundles/common/images/noimage.png")}}" alt="image" class="prodlist"/>
                                                        {%else%}
                                                            <a href="{{asset(price.product.pictureFk.path)}}" target="_blank"><img src="{{asset(price.product.pictureFk.path)}}" alt="image" class="prodlist"/></a>
                                                        {%endif%}
                                                        {{price.product.productCode|default('')}} - {{price.product.productName|default('')}}<br/>
                                                        <span style="color:#565656; font-size:">{{price.product.productDesc}}</span>
                                                    </td>
                                                    <td class="tbl-grid-view-row-no-bg" align="center">
                                                        <select name="selItemUnits" width="100px">
                                                            <option value="">--select--</option>
                                                            {%for unit in unitArr%}
                                                                {%if unit.productFk.pkid==price.product.pkid%}
                                                                    <option value="{{unit.pkid}}">{{unit.unitName}}</option>
                                                                {%endif%}
                                                            {%endfor%}
                                                        </select>
                                                    </td>
                                                    <td class="tbl-grid-view-row-no-bg" align="right" width="120px">
                                                        {{price.markupPrice|number_format(2,'.')}}
                                                        <input type="hidden" name="price" value="{{price.markupPrice}}" class="price{{catid}}"/>
                                                    </td>
                                                    <td class="tbl-grid-view-row-no-bg" align="right" width="150px">
                                                        <input type="text" name="txtQuantity" id="txtQuantity{{catid~prodid}}" size="5" class="quantity{{catid}}" 
                                                               value="1" onkeypress="return IntegerOnly(event);" style="text-align:center;" onkeyup="CalculateEstimatedCost('{{catid}}');"/>
                                                    </td>
                                                    <td class="tbl-grid-view-row-no-bg" align="right" width="130px">
                                                        <input type="text" name="txtCharge" id="txtCharge{{catid~prodid}}" class="money charge{{catid}}" value="0.00" 
                                                               onkeyup="isMoney(this.id); CalculateEstimatedCost('{{catid}}');" onblur="FormatNumber(this,2);">
                                                    </td> 
                                                </tr>
                                            {%endif%}
                                        {%endfor%}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="tbl-grid-view-row-no-bg tbl-th-bg" colspan="3" style="text-align:right; padding: 5px;">
                                                <b>SUB TOTAL</b>
                                            </td>
                                            <td class="tbl-grid-view-row-no-bg tbl-th-bg" style="text-align:right;">
                                                <input type="text" class="totalMoney totalprice" name="txtTotalPrice{{catid}}"  id="txtTotalPrice{{catid}}" readonly value="0.00"/>
                                            </td>
                                            <td class="tbl-grid-view-row-no-bg tbl-th-bg" style="text-align:right;">
                                                <input type="text" class="totalMoney totalcharge" name="txtTotalCharge{{catid}}" id="txtTotalCharge{{catid}}" readonly value="0.00"/>
                                            </td>
                                            
                                        </tr>
                                    </tfoot>
                                </table>
                                <br/>
                            </td>
                        </tr>
                    {%endfor%}                    
                </tbody>  
            </table> 
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td width="70px"></td>                    
                    <td></td>
                    <td width="100px"></td>
                    <td width="150px"></td>
                    <td width="100px"></td>
                    
                </tr>
                <tr>
                    <td class="tbl-grid-view-row-no-bg tbl-th-bg" colspan="3" style="text-align:right; padding:5px;">
                        <b>GRAND TOTAL</b>
                    </td>
                    <td class="tbl-grid-view-row-no-bg tbl-th-bg" style="text-align:right;">
                        <input type="text" class="totalMoney" name="txtGrandPrice" id="txtGrandPrice" readonly value="0.00"/>
                    </td>
                    <td class="tbl-grid-view-row-no-bg tbl-th-bg" style="text-align:right;">
                        <input type="text" class="totalMoney" name="txtGrandCharge" id="txtGrandCharge" readonly value="0.00"/>
                    </td>
                </tr>
                <tr>
                    <td class="tbl-grid-view-row-no-bg tbl-th-bg" colspan="4" style="text-align:right; padding: 5px;">
                        <b>TOTAL PROJECT BUDGET</b>
                    </td>                    
                    <td class="tbl-grid-view-row-no-bg tbl-th-bg" style="text-align:right;">
                        <input type="text" class="totalMoney" name="txtTotBudget" id="txtTotBudget" readonly value="0.00"/>
                    </td>
                </tr>
            </table>
        </td>                        
    </tr>
    <tr>
        <td align="center" class="td-white-bg">
            <input type="button" class="button" value="Confirm" onclick="AddProjectNewItem('{{path("_addprojectnewitem")}}');"/>
        </td>
    </tr>
</table>
