<table width="100%" border="0" class="tbl-border" cellpadding="0" cellspacing="0" >           
    <tr>
    <input id="spanCloseOpenHandlerprojlist" value="0" type="hidden">
    <td class="td-label-title" onclick="lmsShowHideAddressResult('projlist');">Project List
        <span style="float: right;" id="spanIdprojlist" class="span_open" >&nbsp;</span>        
    </td>
        </tr>
    <tr id="trAddressprojlist">
        <td>
            <table id="example" width="100%" align="center" id="example2" cellspacing="0"  class="display"  >  
                <thead>
                    <tr> 
                        <th class="tbl-th-grid-view-row-no-bg">Order No.</th>
                        <th class="tbl-th-grid-view-row-no-bg">Customer</th>
                        <th class="tbl-th-grid-view-row-no-bg">Category</th>
                        <th class="tbl-th-grid-view-row-no-bg">Start Date</th> 
                        <th class="tbl-th-grid-view-row-no-bg">Tentative Completion Date</th> 
                        <th class="tbl-th-grid-view-row-no-bg">Status</th> 
                        <th class="tbl-th-grid-view-row-no-bg">Balance</th>
                        <th class="tbl-th-grid-view-row-no-bg">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    {%for proj in projArr%}
                        {%set balance=0%}
                        {%set advance=0%}
                        {%set expense=0%}
                        {%for adv in advanceArr%}
                            {%if adv.projectid==proj.pkid%}
                                {%set advance=adv.amount%}
                            {%endif%}
                        {%endfor%}
                        {%for exp in expenseArr%}
                            {%if exp.projectid==proj.pkid%}
                                {%set expense=exp.amount%}
                            {%endif%}
                        {%endfor%}
                        {%set balance=advance-expense%}
                        <tr>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{proj.orderNo}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{proj.customerFk.customerName|upper}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{proj.areaFk.area}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{proj.startDate|date('d-M-Y')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{proj.expectedCompletionDate|date('d-M-Y')}}</td>
                            <td class="tbl-grid-view-row-no-bg" style="background-color:{{proj.status.statusColor}};" align="center">
                                {{proj.status.statusName}}
                            </td> 
                            {%set limitAmt=null%}
                            {%for limit in limitArr%}
                                {%if limit.projectid==proj.pkid%}
                                    {%set limitAmt=limit.amount%}
                                {%endif%}
                            {%endfor%}
                            {%set isLow=0%}
                            {%if (limitAmt is not null and balance<=limitAmt) or balance<=0 %} 
                                {%set isLow=1%}
                            {%endif%}
                            <td class="tbl-grid-view-row-no-bg" align="right" title="{%if isLow==1%}Balance is low{%endif%}"
                                style="color:{%if isLow==1%}#ff0000{%endif%}">
                                <b>{{balance|number_format(2,'.')}}</b>
                            </td>
                            <td class="tbl-grid-view-row-no-bg" width="70px" align="center">
                                {#<select id="selprojAction{{proj.pkid}}">
                                    <option value="">--select--</option>
                                    <option value="{{path("_projectdetailindex",{projid:proj.pkid})}}">View Detail</option>
                                </select>#}
                                <input type="hidden" id="selprojAction{{proj.pkid}}" value="{{path("_projectdetailindex",{projid:proj.pkid})}}">
                                <a href="javascript:;" onclick="ViewProjectDetail('selprojAction{{proj.pkid}}');">View Detail</a>
                            </td>                                
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<br/>
<div id="divprojindex">

</div>
