<input type="hidden" id="locationUpdateURL" value="{{'/Tashi/web/app_dev.php/location/update_country/'~record.id|default('')}}"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
                <tr>
                    <td class="td-label-title">Country List:</td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                            <thead>
                                <tr> 
                                    <th class="tbl-th-grid-view-row-no-bg">Name</th>
                                    <th class="tbl-th-grid-view-row-no-bg">Code</th>
                                    <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                                </tr>
                            </thead>
                            <tbody>
                            {% for c in record.result%}
                                    <tr>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{c.countryName}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">{{c.countryCode | default('')}}</td>
                                        <td class="tbl-grid-view-row-no-bg" align="center">
                                        <a href="javascript:void();" onclick="retriveCountryMaster('{{path('_retreive_countryid',{'cid': c.countryPk })}}');" >Edit </a> | 
                                        <a href="javascript:void();" onclick="deleteCountryMaster('{{path('_delete_country',{'cid': c.countryPk })}}');" style="color:#ff0000;">Delete </a>
                                        </td>                                                 
                                    </tr>
                                  {%endfor%}
                                </tbody>
                            </table>
                        </td>
                    </tr>                                 
                </table>     