<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
    <tr>
        <td class="td-label-title" onclick="lmsShowHideAddressResult('stksearchres');" style="cursor:pointer;">{{title}}   
            <input id="spanCloseOpenHandlerstksearchres" value="0" type="hidden"/>
            <span style="float: right;" onclick="lmsShowHideAddressResult('stksearchres');" id="spanIdstksearchres" class="span_open" >&nbsp;</span>
        </td>
    </tr>
    <tr id="trAddressstksearchres">
        <td>
            <table width="100%" align="center" id="example" cellspacing="0" class="display">  
                <thead>
                    <tr> 
                        {#<th class="tbl-th-grid-view-row-no-bg">Stock ID</th>#}
                        <th class="tbl-th-grid-view-row-no-bg">SKU</th>    
                        <th class="tbl-th-grid-view-row-no-bg">Location</th>
                        <th class="tbl-th-grid-view-row-no-bg">Product</th>
                        <th class="tbl-th-grid-view-row-no-bg">Price</th>                         
                        <th class="tbl-th-grid-view-row-no-bg">Quantity</th>  
                        <th class="tbl-th-grid-view-row-no-bg">Unit</th>
                        <th class="tbl-th-grid-view-row-no-bg">Stock Value</th>
                        <th class="tbl-th-grid-view-row-no-bg">Reorder</th>
                        <th class="tbl-th-grid-view-row-no-bg">Reorder Value</th>
                        <th class="tbl-th-grid-view-row-no-bg">Entry Date</th>
                        <th class="tbl-th-grid-view-row-no-bg">Last Updated On</th>
                        <th class="tbl-th-grid-view-row-no-bg">Action</th>
                    </tr>
                </thead>
                <tbody>  
                    {%set totQty=0%}
                    {%set totReQty=0%}
                    {%set totvalue=0%}
                    {%set totRevalue=0%}
                    
                    {%for stock in stockArr%}
                        {%set cprice=0%}
                        {%for price in priceArr%}
                            {%if stock.productFk.pkid==price.product.pkid%}
                                {%set cprice=price.costPrice%}
                            {%endif%}
                        {%endfor%}
                        {%set totQty=totQty+stock.quantity%}                        
                        <tr>                    
                            {#<td class="tbl-grid-view-row-no-bg" align="center">{{stock.pkid}}</td>#}
                            <td class="tbl-grid-view-row-no-bg" align="left">
                                {{stock.productFk.sku|default('')}}
                            </td>
                            <td class="tbl-grid-view-row-no-bg" align="left">
                                {%set bin=stock.binFk|default('')%}
                                {%set rack=bin.rackFk|default('')%}
                                {%set room=rack.storeRoomMasterFk|default('')%}
                                {%set floor=room.storeFloorMasterFk|default('')%}
                                {%set bldg=floor.storeBuildingMasterFk|default('')%}
                                {%set store=bldg.storeMasterFk|default('')%}
                                <strong>Bin No.:</strong>{{bin.binNo|default('')}}<br>
                                <strong>Rack:</strong>{{rack.rackName|default('')}},Row: {{rack.rowNumber|default('')}}, Col: {{rack.columnNumber|default('')}}<br>
                                <strong>Room No:</strong>{{room.storeRoomNo|default('')}}<br>
                                <strong>Floor:</strong>{{floor.storeFloorNo|default('')}}<br>
                                <strong>Building:</strong>{{bldg.buildingName|default('')}}<br>
                                <strong>Store Name:</strong>{{store.storeName|default('')}}
                            </td>
                            <td class="tbl-grid-view-row-no-bg" align="left">
                                {{stock.productFk.productName|default('')}}-{{stock.productFk.productCode|default('')}}
                            </td>  
                            <td class="tbl-grid-view-row-no-bg" align="right">
                                {{cprice|number_format('2','.','')|default('')}}
                                {#<input type="hidden" id="price{{stock.pkid}}" value="{{stock.prdPriceFk.costPrice}}">#}
                            </td>   
                            <td class="tbl-grid-view-row-no-bg" align="center">{{stock.quantity}}</td>  
                            <td class="tbl-grid-view-row-no-bg" align="center">{{stock.unitFk.unitName|default('')}}</td> 
                            <td class="tbl-grid-view-row-no-bg" align="right">                                
                                {{(stock.quantity*cprice|default(''))|number_format('2','.','')}}
                                {%set totvalue=totvalue+(stock.quantity*cprice)%}                            
                            </td>
                            <td class="tbl-grid-view-row-no-bg" align="center">
                                {%if stock.quantity<stock.reorderQty%}
                                    {{stock.reorderQty}}
                                    {%set totReQty=totReQty+stock.reorderQty%}
                                {%endif%}
                            </td>
                            <td class="tbl-grid-view-row-no-bg" align="right">
                                {%if stock.quantity<stock.reorderQty%}
                                    {{(stock.reorderQty*cprice)|number_format('2','.','')}}
                                    {%set totRevalue=totRevalue+(stock.reorderQty*cprice)%}
                                {%endif%}
                            </td>
                            <td class="tbl-grid-view-row-no-bg" align="center">
                                {{stock.recordInsertDate|date('d-M-Y')}}
                            </td>
                            <td class="tbl-grid-view-row-no-bg" align="center">
                                {%if stock.recordUpdateDate is not null%}
                                    {{stock.recordUpdateDate|date('d-M-Y')}}
                                {%else%}
                                    NA
                                {%endif%}
                            </td>
                            <td>
                                <a href="javascript:;" onclick="stockActions('{{path("_gotovieweditstock",{'stockid':stock.pkid})}}','');">Edit</a>|
                                <a href="javascript:;" onclick="stockActions('{{path("_deletestock",{'stockid':stock.pkid})}}','del');" style="color:#ff0000;">Delete</a>
                            </td>                    
                        </tr>
                    {%endfor%}               
                </tbody>
            </table>                
        </td>
    </tr>
</table>
