<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">                       
    <tr>
        <td class="td-label-title">Wages Type Form</td>
    </tr>
    <tr>
        <td>
            <form id="frmEmpWorkingSalaryType" style="margin: 0px;">
                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">  
                    <tr>
                        <td class="td-gray-bg">Wages Type<span class="necessary-field">*</span></td>
                        <td class="td-white-bg">
                            <input type="hidden" id="workingSalaryTypeId" name="workingSalaryTypeId" value="">
                            <input class="cmnWidth" type="text" id="Emp_Working_salary_type_Name" name="Emp_Working_salary_type_Name" onkeypress="return NullonEnterKey(event);">                                     
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Description</td>
                        <td class="td-white-bg">
                            <textarea cols="70" rows="4" id="Emp_Working_salary_type_Des" name="Emp_Working_salary_type_Des"></textarea> 
                        </td>
                    </tr>                                              
                    <tr>
                        <td class="td-separator" colspan="4" style="text-align: center;">
                            <input type="button" class="button blue" id="btn_save" value="Save" onclick="return addEmpWorkingSalaryType('{{path('_add_emp_working_salary_type')}}', this);"/>
                            {#<input type="button" class="button blue" id="btn_update" value="Update" onclick="return addEmpWorkingSalaryType('{{path('_add_emp_working_salary_type')}}', this);" style="display:none"/>#}
                            <input type="button" class="button blue" id="btn_clear" value="Reset" onclick="formReset();"/>
                            <input type="button" class="button blue" id="btn_cancel" value="Cancel" onclick="onCancleClick('frmEmpWorkingSalaryType');" style="display:none"/>
                        </td>  
                    </tr>
                </table>
            </form>
        </td>
    </tr> 
</table>
<div id="display-list" style="margin-top: 8px;">
    <input type="hidden" id="workingSalaryTypeUpdateURL" value="">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
        <tr>
            <td class="td-label-title">Wages Type List</td>
        </tr>
        <tr>
            <td>

                <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                    <thead>
                        <tr>
                            <th class="tbl-th-grid-view-row-no-bg">Wages Type</th>
                            <th class="tbl-th-grid-view-row-no-bg">Description</th>
                            <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                        </tr>
                    </thead>
                    <tbody> 
                        {%for a in allRecord%}
                            <tr>
                                <td class="tbl-grid-view-row-no-bg" align="center">{{ a.salaryType}}</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">{{ a.description}}</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">
                                    <a href="javascript:void();" onclick="retrieveEmpWorkingSalaryType('{{ path('_retrieve_emp_working_salary_type',{ 'workingSalaryTypeId': a.salaryTypePk})}}');">Edit</a> 
                                    | <a href="javascript:void();"  style="color:#ff0000;" onclick="deleteEmpSubModule('{{ path('_deleteEmpWorkingSalaryType', { 'workingSalaryTypeId': a.salaryTypePk | default('')})}}', 'Wages Type', 'frmEmpWorkingSalaryType');">Delete</a>
                                </td>
                            </tr>                    
                  {%endfor%}
                        </tbody>

                    </table>
                </td>
            </tr>                                 
        </table>
    </div>