<div class="application-form"> 
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">                       
        <tr>
            <td class="td-label-title">Job Profile</td>
        </tr>
        <tr>
            <td>                 
                <form id="frmEmpJobProfile" style="margin: 0px;">
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">  
                        <tr>
                            <td class="td-gray-bg">Job Profile</td>
                            <td class="td-white-bg">
                                <input class="cmnWidth" type="text" id="txt_job_profile_name" name="job_profile_name">                                     
                            </td>
                            <td class="td-gray-bg">Description</td>
                            <td class="td-white-bg">
                                <input class="cmnWidth" type="text" id="txt_job_profile_description" name="job_profile_description">                                          
                            </td>                                                          
                        </tr>                                              
                        <tr>
                            <td class="td-separator" colspan="4" style="text-align: center;">
                                <input type="button" class="button blue" id="btn_save" value="Save" onclick="return addEmpJObProfile('{{ path('_add_emp_job_profile')}}',this);"/>
                                <input type="button" class="button blue" id="btn_edit" value="Edit" onclick="commonEditBtn('txt_job_profile_name', 'txt_job_profile_description');" style="display: none;"/>
                                <input type="button" class="button blue" id="btn_update" value="Update" onclick="return addEmpJObProfile('{{ path('_add_emp_job_profile')}}',this);" style="display: none;"/>
                                <input type="button" class="button blue" id="btn_cancel" value="Cancel" onclick="commonCancelBtn('txt_job_profile_name', 'txt_job_profile_description','jobProfileId');" style="display: none;"/>
                                <input type="button" class="button blue" id="btn_clear" value="Reset" onclick="formReset();"/>  
                            </td>
                        </tr>
                    </table>
                        <input type="hidden" id="jobProfileId" name="jobProfileId" value="">
                </form>                               
            </td>
        </tr> 
    </table>
    <div id="display-list" style="margin-top: 8px;">
        
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
            <tr>
                <td class="td-label-title">Job Profile List:</td>
            </tr>
            <tr>
                <td>

                    <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                        <thead class="">
                            <tr>
                                <th class="tbl-th-grid-view-row-no-bg">Job Profile Name</th>
                                <th class="tbl-th-grid-view-row-no-bg">Description</th>
                                <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                            </tr>
                        </thead>

                        <tbody>                           
                               {%for a in allRecord%}
                                <tr>
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{ a.jobProfileName}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">{{ a.description}}</td>
                                    <td class="tbl-grid-view-row-no-bg" align="center">
                                        <a href="javascript:void();" onclick="retriveEmpJObProfile('{{ path('_retrive_emp_job_profile',{ 'jobProfileId': a.jobProfilePk})}}');">Edit</a> |
                                         <a href="javascript:void();"  style="color:#ff0000;" onclick="deleteEmpJobProfileMaster('{{ path('_deleteEmpJobProfile',{ 'jobProfileId': a.jobProfilePk})}}');">Delete</a>
                                        
                                    </td>                                                
                                </tr>                    
                               {%endfor%}

                            </tbody>
                        </table>
                    </td>
                </tr>                                 
            </table>
        </div> 
    </div> 