<div class='sub-menu'>
    <ul>
        <li class='active' onclick="fnLeftMenuNavigation('{{path('_search_purchase')}}', 'Search_id', 'Search Purchase', 'Search');"><a  href="javascript:void();" >Search Purchase</a></li> 
{# <li id="Search_Purchase_id"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_search_purchase')}}', 'Search_Purchase_id', 'Purchase', 'Search Purchase', 'Search Purchase');"><span>Search</span></a></li> #}
   </ul>
</div>
<div class="newdashboard"> 
    <div class="application-form"> 
  <form id="frmPurchaseDetails" style="margin: 0px;">
       <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">                       
        <tr>
            <td class="td-label-title">Select Product Category:</td>
        </tr>
        <tr>
            <td>                 
                
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">                             
                        <tr>
                            <td class="td-gray-bg cmnWidth">Select:</td>
                            <td class="td-white-bg cmnWidth" colspan="2">
               <select id="selSearchPurchaseOrder" name="selSearchPurchaseOrder" onchange="SearchCriteria(this.id);" class="cmnWidth">
                   <option value="all">All</option>
                  {# <option value="sname">Supplier Name</option>#}
                   <option value="ordno">Purchase Order No.</option>
                   <option value="podate">Purchase Order Date</option>
                   <option value="expdate">Expected Delivery Date</option>
                   <option value="status">Status</option>
               </select>
                           
               </td>
                            
                        </tr>
                        <tr id="trcriteria" style="display:none;">
                                <td class="td-gray-bg" id="tdtitle"></td>
                                <td id="tdsearchcriteria" class="td-white-bg">
                                    <input type="hidden" name="searchvalue" value="" id="searchvalue"/>
                                    
                                    <input type="text" id="txtCriteria" name="txtCriteria" style="display:none;" class="cmnWidth">
                                    <div id="Date" style="display:none;">
                                       From : <input type="date" id="txtfrom" name="txtfrom"> &nbsp;
                                       To : <input type="date" id="todate" name="todate">
                                    </div>
                                    
                                    <select id="selPurStatus" name="selPurStatus" style="display:none;" class="cmnWidth">
                                       <option value="">--select--</option>
                                        {%for s in status%}
                                            <option value="{{s.pkid}}">{{s.statusmsg}}</option>
                                        {%endfor%}
                                    </select>
                                    <input type="hidden" name="inputcatid">                            
                                </td>
                            </tr>
                            <tr>
                            <td class="td-gray-bg cmnWidth"></td>
                            <td class="td-white-bg cmnWidth" colspan="2"> 
                            <input type="button" class="button" id="btnSearchPur" value="Search" onclick="SearchPurchase();">
                            <input type="hidden" id="inputsearchpurchaseUrl" value="{{path("_searchpurchase")}}"/>
                            </td>
                            </tr>
                    </table>
                                          
            </td>
        </tr> 
    </table> 
        
    <div id="divPurchaseOrderDetailsList">
    
    
    
    </div>    
        
        
    <div id="EditPurchase">
        
        
   </div>    
        
        </form>     
    </div>
    </div>